openapi: 3.2.0
info:
  title: Infusionsoft Merchants API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged Merchants across 4 of this provider''s published API definitions: infusionsoft-keap-sdk-v2-swagger-original.yml, infusionsoft-rest-v2-2025-11-05-openapi-original.json, infusionsoft-rest-v2-openapi-original.json, infusionsoft-rest-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.keap.com/crm
- url: https://api.infusionsoft.com/crm/rest
- url: https://api.infusionsoft.com/crm
tags:
- name: Merchants
paths:
  /rest/v2/merchants:
    get:
      tags:
      - Merchants
      summary: List Merchant accounts
      description: Retrieves a list of Merchant accounts
      operationId: listMerchants
      parameters:
      - name: filter
        in: query
        description: 'Filter to apply, allowed fields are:

          - (String) `id`

          - (String) `name`

          - (String) `type`


          You will need to apply the `==` operator to check the equality of one of the filters with your searched

          word, in the encoded form `%3D%3D`. For the filters listed above, here are some examples:

          - `filter=id%3D%3D123`

          - `filter=name%3D%3Dabc`

          - `filter=id%3D%3D123%3Bname%3D%3Dabc`

          '
        required: false
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Attribute and direction to order items.

          One of the following fields:

          - `id`

          - `name`


          One of the following directions:

          - `asc`

          - `desc`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Total number of items to return per page
        required: false
        schema:
          type: integer
          format: int32
          maximum: 1000
          minimum: 0
        example: 0
      - name: page_token
        in: query
        description: Page token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMerchantsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    servers:
    - url: https://api.keap.com/crm
  /v2/merchants:
    get:
      tags:
      - Merchants
      summary: List Merchant accounts
      description: Retrieves a list of Merchant accounts
      operationId: listMerchantsUsingGET
      parameters:
      - name: filter
        in: query
        description: 'Filter to apply, allowed fields are:

          - (String) `id`

          - (String) `name`

          - (String) `type`

          You will need to apply the `==` operator to check the equality of one of the filters with your searched

          word, in the encoded form `%3D%3D`. For the filters listed above, here are some examples:

          - `filter=id%3D%3D123`

          - `filter=name%3D%3Dabc`

          - `filter=id%3D%3D123%3Bname%3D%3Dabc`

          '
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Attribute and direction to order items.

          One of the following fields:

          - `id`

          - `name`


          One of the following directions:

          - `asc`

          - `desc`'
        schema:
          type: string
      - name: page_size
        in: query
        description: Total number of items to return per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
        example: 0
      - name: page_token
        in: query
        description: Page token
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListMerchantsResponse
                type: object
                properties:
                  default_merchant_account_id:
                    type: string
                  merchant_accounts:
                    type: array
                    items:
                      title: ListMerchantAccountResponse
                      type: object
                      properties:
                        id:
                          type: string
                        is_test:
                          type: boolean
                        name:
                          type: string
                        type:
                          type: string
                          enum:
                          - PAYPAL
                          - UNSUPPORTED
                          - AUTHORIZE
                          - EWAY
                          - WEPAY
                          - STRIPE
                          - KEAP_PAY
                  next_page_token:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    servers:
    - url: https://api.infusionsoft.com/crm/rest
components:
  schemas:
    ErrorDetails:
      type: object
      properties:
        domain:
          type: string
        resource:
          type: string
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        status:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
    ListMerchantsResponse:
      type: object
      properties:
        default_merchant_account_id:
          type: string
        merchant_accounts:
          type: array
          items:
            $ref: '#/components/schemas/ListMerchantAccountResponse'
        next_page_token:
          type: string
    ListMerchantAccountResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - PAYPAL
          - UNSUPPORTED
          - AUTHORIZE
          - EWAY
          - WEPAY
          - STRIPE
          - KEAP_PAY
        is_test:
          type: boolean
    Throwable:
      title: Throwable
      type: object
      properties:
        cause:
          $ref: '#/components/schemas/Throwable'
        localizedMessage:
          type: string
        message:
          type: string
        stackTrace:
          type: array
          items:
            title: StackTraceElement
            type: object
            properties:
              classLoaderName:
                type: string
              className:
                type: string
              fileName:
                type: string
              lineNumber:
                type: integer
                format: int32
              methodName:
                type: string
              moduleName:
                type: string
              moduleVersion:
                type: string
              nativeMethod:
                type: boolean
        suppressed:
          type: array
          items:
            $ref: '#/components/schemas/Throwable'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
          scopes: {}
x-refined-from:
- infusionsoft-keap-sdk-v2-swagger-original.yml
- infusionsoft-rest-v2-2025-11-05-openapi-original.json
- infusionsoft-rest-v2-openapi-original.json
- infusionsoft-rest-v2-openapi.json
