openapi: 3.2.0
info:
  title: Infusionsoft Merchant API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged Merchant across 3 of this provider''s published API definitions: infusionsoft-rest-v1-2025-11-05-openapi-original.json, infusionsoft-rest-v1-openapi-original.json, infusionsoft-rest-v1-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.infusionsoft.com/crm/rest
- url: https://api.infusionsoft.com/crm
tags:
- name: Merchant
  description: Merchant-Endpoint
paths:
  /v1/merchants:
    get:
      tags:
      - Merchant
      summary: List Merchants
      description: Retrieves a list of all merchant accounts
      operationId: getMerchantAccountsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: RestMerchantAccountResponse
                type: object
                properties:
                  default_merchant_account:
                    type: integer
                    format: int64
                  merchant_accounts:
                    type: array
                    items:
                      title: Merchant
                      type: object
                      properties:
                        account_name:
                          type: string
                        id:
                          type: integer
                          format: int64
                        is_test:
                          type: boolean
                        type:
                          type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    servers:
    - url: https://api.infusionsoft.com/crm/rest
  /rest/v1/merchants:
    get:
      tags:
      - Merchant
      summary: List Merchants
      description: Retrieves a list of all merchant accounts
      operationId: getMerchantAccounts
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAndView'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestMerchantAccountResponse'
      security:
      - oauth2: []
    servers:
    - url: https://api.infusionsoft.com/crm
components:
  schemas:
    Throwable:
      title: Throwable
      type: object
      properties:
        cause:
          $ref: '#/components/schemas/Throwable'
        localizedMessage:
          type: string
        message:
          type: string
        stackTrace:
          type: array
          items:
            title: StackTraceElement
            type: object
            properties:
              classLoaderName:
                type: string
              className:
                type: string
              fileName:
                type: string
              lineNumber:
                type: integer
                format: int32
              methodName:
                type: string
              moduleName:
                type: string
              moduleVersion:
                type: string
              nativeMethod:
                type: boolean
        suppressed:
          type: array
          items:
            $ref: '#/components/schemas/Throwable'
    DefaultHttpStatusCode:
      allOf:
      - $ref: '#/components/schemas/HttpStatusCode'
    ModelAndView:
      type: object
      properties:
        view:
          $ref: '#/components/schemas/View'
        model:
          type: object
          additionalProperties: {}
        status:
          oneOf:
          - $ref: '#/components/schemas/DefaultHttpStatusCode'
          - $ref: '#/components/schemas/HttpStatus'
        modelMap:
          type: object
          additionalProperties: {}
          properties:
            empty:
              type: boolean
        reference:
          type: boolean
        empty:
          type: boolean
        viewName:
          type: string
    HttpStatusCode:
      type: object
      properties:
        error:
          type: boolean
        is1xxInformational:
          type: boolean
        is2xxSuccessful:
          type: boolean
        is3xxRedirection:
          type: boolean
        is4xxClientError:
          type: boolean
        is5xxServerError:
          type: boolean
    HttpStatus:
      allOf:
      - $ref: '#/components/schemas/HttpStatusCode'
      enum:
      - 100 CONTINUE
      - 101 SWITCHING_PROTOCOLS
      - 102 PROCESSING
      - 103 EARLY_HINTS
      - 200 OK
      - 201 CREATED
      - 202 ACCEPTED
      - 203 NON_AUTHORITATIVE_INFORMATION
      - 204 NO_CONTENT
      - 205 RESET_CONTENT
      - 206 PARTIAL_CONTENT
      - 207 MULTI_STATUS
      - 208 ALREADY_REPORTED
      - 226 IM_USED
      - 300 MULTIPLE_CHOICES
      - 301 MOVED_PERMANENTLY
      - 302 FOUND
      - 303 SEE_OTHER
      - 304 NOT_MODIFIED
      - 307 TEMPORARY_REDIRECT
      - 308 PERMANENT_REDIRECT
      - 400 BAD_REQUEST
      - 401 UNAUTHORIZED
      - 402 PAYMENT_REQUIRED
      - 403 FORBIDDEN
      - 404 NOT_FOUND
      - 405 METHOD_NOT_ALLOWED
      - 406 NOT_ACCEPTABLE
      - 407 PROXY_AUTHENTICATION_REQUIRED
      - 408 REQUEST_TIMEOUT
      - 409 CONFLICT
      - 410 GONE
      - 411 LENGTH_REQUIRED
      - 412 PRECONDITION_FAILED
      - 413 CONTENT_TOO_LARGE
      - 413 PAYLOAD_TOO_LARGE
      - 414 URI_TOO_LONG
      - 415 UNSUPPORTED_MEDIA_TYPE
      - 416 REQUESTED_RANGE_NOT_SATISFIABLE
      - 417 EXPECTATION_FAILED
      - 418 I_AM_A_TEAPOT
      - 421 MISDIRECTED_REQUEST
      - 422 UNPROCESSABLE_CONTENT
      - 422 UNPROCESSABLE_ENTITY
      - 423 LOCKED
      - 424 FAILED_DEPENDENCY
      - 425 TOO_EARLY
      - 426 UPGRADE_REQUIRED
      - 428 PRECONDITION_REQUIRED
      - 429 TOO_MANY_REQUESTS
      - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
      - 451 UNAVAILABLE_FOR_LEGAL_REASONS
      - 500 INTERNAL_SERVER_ERROR
      - 501 NOT_IMPLEMENTED
      - 502 BAD_GATEWAY
      - 503 SERVICE_UNAVAILABLE
      - 504 GATEWAY_TIMEOUT
      - 505 HTTP_VERSION_NOT_SUPPORTED
      - 506 VARIANT_ALSO_NEGOTIATES
      - 507 INSUFFICIENT_STORAGE
      - 508 LOOP_DETECTED
      - 509 BANDWIDTH_LIMIT_EXCEEDED
      - 510 NOT_EXTENDED
      - 511 NETWORK_AUTHENTICATION_REQUIRED
    RestMerchantAccountResponse:
      type: object
      properties:
        default_merchant_account:
          type: integer
          format: int64
        merchant_accounts:
          type: array
          items:
            $ref: '#/components/schemas/Merchant'
    View:
      type: object
      properties:
        contentType:
          type: string
    Merchant:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        account_name:
          type: string
        is_test:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.infusionsoft.com/app/oauth/authorize
          tokenUrl: https://api.infusionsoft.com/token
x-refined-from:
- infusionsoft-rest-v1-2025-11-05-openapi-original.json
- infusionsoft-rest-v1-openapi-original.json
- infusionsoft-rest-v1-openapi.json
