openapi: 3.2.0
info:
  title: Infusionsoft Lead Source Categories API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged Lead Source Categories across 4 of this provider''s published API definitions: infusionsoft-keap-sdk-v2-swagger-original.yml, infusionsoft-rest-v2-2025-11-05-openapi-original.json, infusionsoft-rest-v2-openapi-original.json, infusionsoft-rest-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.keap.com/crm
- url: https://api.infusionsoft.com/crm/rest
- url: https://api.infusionsoft.com/crm
tags:
- name: Lead Source Categories
paths:
  /rest/v2/leadSourceCategories:
    get:
      tags:
      - Lead Source Categories
      summary: List Lead Source Categories
      description: Retrieves a list of Lead Source Categories
      operationId: listLeadSourceCategories
      parameters:
      - name: filter
        in: query
        description: 'Filter to apply, allowed fields are:


          - (String) `name` - Wildcard matching allowed

          - (String) `description` - Wildcard matching allowed


          You will need to apply the `==` operator to check the equality of one of the filters with your searched

          word, in the encoded form `%3D%3D`.


          For fields which allow wildcard matching, you may use the * wildcard character (or its encoded form %2A)

          for prefix matching on text fields. Example of a valid pattern of wildcard usage:

          - `field==foo*` finds anything in `field` that begins with `foo`


          For the filters listed above, here are some examples:


          - `filter=name%3D%3Dexample`

          - `filter=name%3D%3Dexam*` (starts with "exam")

          - `filter=description%3D%3Dexample`

          - `filter=description%3D%3Dexam*` (starts with "exam")

          - `filter=name%3D%3Dexam*%3Bdescription%3D%3Dsales` (multiple filters combined)'
        required: false
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Attribute and direction to order items.

          One of the following fields:

          - `name`


          One of the following directions:

          - `asc`

          - `desc`'
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Total number of items to return per page
        required: false
        schema:
          type: integer
          format: int32
          maximum: 1000
          minimum: 0
        example: 0
      - name: page_token
        in: query
        description: Page token
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLeadSourceCategoriesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    post:
      tags:
      - Lead Source Categories
      summary: Create a Lead Source Category
      description: Creates a new Lead Source Category.
      operationId: createLeadSourceCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateLeadSourceCategoryRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadSourceCategory'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    servers:
    - url: https://api.keap.com/crm
  /rest/v2/leadSourceCategories/{lead_source_category_id}:
    get:
      tags:
      - Lead Source Categories
      summary: Retrieve a Lead Source Category
      description: Retrieves a single Lead Source Category for a given ID
      operationId: getLeadSourceCategory
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadSourceCategory'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    delete:
      tags:
      - Lead Source Categories
      summary: Delete a Lead Source Category
      description: Deletes the specified Lead Source Category
      operationId: deleteLeadSourceCategory
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    patch:
      tags:
      - Lead Source Categories
      summary: Update a Lead Source Category
      description: Updates a Lead Source Category
      operationId: updateLeadSourceCategory
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      - name: update_mask
        in: query
        description: An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - name
            - description
          uniqueItems: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateLeadSourceCategoryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadSourceCategory'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Method Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2: []
    servers:
    - url: https://api.keap.com/crm
  /v2/leadSourceCategories:
    get:
      tags:
      - Lead Source Categories
      summary: List Lead Source Categories
      description: Retrieves a list of Lead Source Categories
      operationId: listLeadSourceCategoriesUsingGET
      parameters:
      - name: filter
        in: query
        description: 'Filter to apply, allowed fields are:


          - (String) `name`


          You will need to apply the `==` operator to check the equality of one of the filters with your searched

          word, in the encoded form `%3D%3D`. For the filters listed above, here is an example:


          - `filter=name%3D%3Dexample`'
        schema:
          type: string
      - name: order_by
        in: query
        description: 'Attribute and direction to order items.

          One of the following fields:

          - `name`


          One of the following directions:

          - `asc`

          - `desc`'
        schema:
          type: string
      - name: page_size
        in: query
        description: Total number of items to return per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
        example: 0
      - name: page_token
        in: query
        description: Page token
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ListLeadSourceCategoriesResponse
                type: object
                properties:
                  lead_source_categories:
                    type: array
                    description: The lead source categories in the current page
                    items:
                      title: LeadSourceCategory
                      type: object
                      properties:
                        create_time:
                          type: string
                          description: The date the category was created
                        description:
                          type: string
                          description: The description of the category
                        id:
                          type: string
                          description: The unique identifier for the category
                        name:
                          type: string
                          description: The name of the category
                        update_time:
                          type: string
                          description: The date the category was last updated
                  next_page_token:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    post:
      tags:
      - Lead Source Categories
      summary: Create a Lead Source Category
      description: Creates a new Lead Source Category
      operationId: createLeadSourceCategoryUsingPOST
      requestBody:
        description: The request object to create a new lead source category
        content:
          application/json:
            schema:
              title: CreateUpdateLeadSourceCategoryRequest
              type: object
              properties:
                description:
                  type: string
                  description: The description of the category
                name:
                  type: string
                  description: The name of the category, must be unique
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: LeadSourceCategory
                type: object
                properties:
                  create_time:
                    type: string
                    description: The date the category was created
                  description:
                    type: string
                    description: The description of the category
                  id:
                    type: string
                    description: The unique identifier for the category
                  name:
                    type: string
                    description: The name of the category
                  update_time:
                    type: string
                    description: The date the category was last updated
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
      x-codegen-request-body-name: request
    servers:
    - url: https://api.infusionsoft.com/crm/rest
  /v2/leadSourceCategories/{lead_source_category_id}:
    get:
      tags:
      - Lead Source Categories
      summary: Retrieve a Lead Source Category
      description: Retrieves a single Lead Source Category for a given ID
      operationId: getLeadSourceCategoryUsingGET
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: LeadSourceCategory
                type: object
                properties:
                  create_time:
                    type: string
                    description: The date the category was created
                  description:
                    type: string
                    description: The description of the category
                  id:
                    type: string
                    description: The unique identifier for the category
                  name:
                    type: string
                    description: The name of the category
                  update_time:
                    type: string
                    description: The date the category was last updated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    delete:
      tags:
      - Lead Source Categories
      summary: Delete a Lead Source Category
      description: Deletes the specified Lead Source Category
      operationId: deleteLeadSourceCategoryUsingDELETE
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    patch:
      tags:
      - Lead Source Categories
      summary: Update a Lead Source Category
      description: Updates a Lead Source Category
      operationId: updateLeadSourceCategoryUsingPATCH
      parameters:
      - name: lead_source_category_id
        in: path
        description: The ID of a lead source category
        required: true
        schema:
          type: string
      - name: update_mask
        in: query
        description: An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          enum:
          - name
          - description
      requestBody:
        description: The request object to update a lead source category
        content:
          application/json:
            schema:
              title: CreateUpdateLeadSourceCategoryRequest
              type: object
              properties:
                description:
                  type: string
                  description: The description of the category
                name:
                  type: string
                  description: The name of the category, must be unique
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: LeadSourceCategory
                type: object
                properties:
                  create_time:
                    type: string
                    description: The date the category was created
                  description:
                    type: string
                    description: The description of the category
                  id:
                    type: string
                    description: The unique identifier for the category
                  name:
                    type: string
                    description: The name of the category
                  update_time:
                    type: string
                    description: The date the category was last updated
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
[...]
