openapi: 3.2.0
info:
  title: Infusionsoft E Commerce API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  description: 'Operations tagged E-Commerce across 3 of this provider''s published API definitions: infusionsoft-rest-v1-2025-11-05-openapi-original.json, infusionsoft-rest-v1-openapi-original.json, infusionsoft-rest-v1-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.infusionsoft.com/crm/rest
- url: https://api.infusionsoft.com/crm
tags:
- name: E-Commerce
  description: E-Commerce-Endpoint
paths:
  /v1/orders:
    get:
      tags:
      - E-Commerce
      summary: List Orders
      description: 'Retrieves a list of all orders using the specified search criteria. Each order may or may not have items.


        Potential values for order status:`DRAFT`, `SENT`, `VIEWED`, `PAID`'
      operationId: listOrdersUsingGET
      parameters:
      - name: contact_id
        in: query
        description: Returns orders for the provided contact id
        schema:
          type: integer
          format: int64
        example: 0
      - name: limit
        in: query
        description: Sets a total of items to return
        schema:
          type: integer
          format: int32
        example: 0
      - name: offset
        in: query
        description: Sets a beginning range of items to return
        schema:
          type: integer
          format: int32
        example: 0
      - name: order
        in: query
        description: Attribute to order items by. Dates are ordered by most recent at the top. Default is creation_date.
        schema:
          type: string
          enum:
          - order_date
          - update_date
      - name: paid
        in: query
        description: Sets paid status of items to return
        schema:
          type: boolean
      - name: product_id
        in: query
        description: Returns orders containing the provided product id
        schema:
          type: integer
          format: int64
        example: 0
      - name: since
        in: query
        description: Date to start searching from ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      - name: until
        in: query
        description: Date to search to ex. `2017-01-01T22:17:59.039Z`
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: OrderList
                type: object
                properties:
                  count:
                    type: integer
                    format: int32
                  next:
                    type: string
                  orders:
                    type: array
                    items:
                      title: EcommerceReportingOrder
                      type: object
                      properties:
                        allow_payment:
                          type: boolean
                        allow_paypal:
                          type: boolean
                        contact:
                          title: EcommerceReportingOrderContactDetails
                          type: object
                          properties:
                            company_name:
                              type: string
                            email:
                              type: string
                            first_name:
                              type: string
                            id:
                              type: integer
                              format: int64
                            job_title:
                              type: string
                            last_name:
                              type: string
                        contact_id:
                          type: string
                        creation_date:
                          type: string
                        id:
                          type: integer
                          format: int64
                        invoice_number:
                          type: integer
                          format: int64
                        lead_affiliate_id:
                          type: integer
                          format: int64
                        modification_date:
                          type: string
                        notes:
                          type: string
                        order_date:
                          type: string
                        order_items:
                          type: array
                          items:
                            title: EcommerceReportingOrderItem
                            type: object
                            properties:
                              cost:
                                type: number
                                format: double
                              description:
                                type: string
                              discount:
                                type: number
                                format: double
                              id:
                                type: integer
                                format: int64
                              jobRecurringId:
                                type: integer
                                format: int64
                              name:
                                type: string
                              notes:
                                type: string
                              price:
                                type: number
                                format: double
                              product:
                                title: EcommerceReportingSimpleProduct
                                type: object
                                properties:
                                  description:
                                    type: string
                                  id:
                                    type: integer
                                    format: int64
                                  name:
                                    type: string
                                  shippable:
                                    type: boolean
                                  sku:
                                    type: string
                                  taxable:
                                    type: boolean
                              quantity:
                                type: integer
                                format: int32
                              specialAmount:
                                type: number
                                format: double
                              specialId:
                                type: integer
                                format: int64
                              specialPctOrAmt:
                                type: integer
                                format: int32
                              subscriptionPlan:
                                title: SubscriptionPlan
                                type: object
                                properties:
                                  active:
                                    type: boolean
                                  cycle:
                                    type: integer
                                    format: int32
                                  frequency:
                                    type: integer
                                    format: int32
                                  id:
                                    type: integer
                                    format: int64
                                  number_of_cycles:
                                    type: integer
                                    format: int32
                                  plan_price:
                                    type: number
                                    format: double
                                  prorate:
                                    type: boolean
                                  subscription_plan_index:
                                    type: integer
                                    format: int32
                                  subscription_plan_name:
                                    type: string
                              type:
                                type: string
                        order_type:
                          type: string
                        payment_plan:
                          title: EcommerceReportingPaymentPlan
                          type: object
                          properties:
                            auto_charge:
                              type: boolean
                            credit_card_id:
                              type: integer
                              format: int64
                            days_between_payments:
                              type: integer
                              format: int64
                            days_between_retries:
                              type: integer
                              format: int64
                            initial_payment_amount:
                              type: number
                              format: double
                            initial_payment_date:
                              type: string
                            initial_payment_percent:
                              type: number
                              format: double
                            max_charge_attempts:
                              type: integer
                              format: int64
                            number_of_payments:
                              type: integer
                              format: int64
                            payment_gateway:
                              title: EcommerceReportingPaymentGateway
                              type: object
                              properties:
                                merchant_account_id:
                                  type: integer
                                  format: int64
                                merchant_account_name:
                                  type: string
                                use_default:
                                  type: boolean
                            payment_method_id:
                              type: string
                            plan_start_date:
                              type: string
                        product_id:
                          type: string
                        recurring:
                          type: boolean
                        refund_total:
                          type: number
                          format: double
                        sales_affiliate_id:
                          type: integer
                          format: int64
                        shipping_information:
                          title: EcommerceReportingShippingInformation
                          type: object
                          properties:
                            city:
                              type: string
                            company:
                              type: string
                            country:
                              type: string
                            first_name:
                              type: string
                            id:
                              type: integer
                              format: int64
                            invoiceToCompany:
                              type: boolean
                            last_name:
                              type: string
                            middle_name:
                              type: string
                            phone:
                              type: string
                            state:
                              type: string
                            street1:
                              type: string
                            street2:
                              type: string
                            zip:
                              type: string
                        source_type:
                          type: string
                          enum:
                          - INVOICE
                          - API
                          - CHECKOUT_FORM
                          - MANUAL_PAYMENT
                          - UNKNOWN
                          - QBO_SYNC
                        status:
                          type: string
                        terms:
                          type: string
                        title:
                          type: string
                        total:
                          type: number
                          format: double
                        total_due:
                          type: number
                          format: double
                        total_paid:
                          type: number
                          format: double
                  previous:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    post:
      tags:
      - E-Commerce
      summary: Create an Order
      description: Create a one time order with order items.
      operationId: createOrderUsingPOST
      requestBody:
        description: createOrder
        content:
          application/json:
            schema:
              title: CreateOrder
              required:
              - contact_id
              - order_date
              - order_items
              - order_title
              - order_type
              type: object
              properties:
                contact_id:
                  type: integer
                  format: int64
                lead_affiliate_id:
                  type: integer
                  format: int64
                order_date:
                  type: string
                  format: date-time
                order_items:
                  type: array
                  items:
                    title: CreateOrderItem
                    required:
                    - product_id
                    - quantity
                    type: object
                    properties:
                      description:
                        type: string
                      item_type:
                        type: string
                        enum:
                        - UNKNOWN
                        - SHIPPING
                        - TAX
                        - SERVICE
                        - PRODUCT
                        - UPSELL
                        - FINANCE_CHARGE
                        - SPECIAL
                        - PROGRAM
                        - SUBSCRIPTION
                        - SPECIAL_FREE_TRIAL_DAYS
                        - SPECIAL_ORDER_TOTAL
                        - SPECIAL_PRODUCT
                        - SPECIAL_CATEGORY
                        - SPECIAL_SHIPPING
                        - TIP
                        - OTHER
                      price:
                        type: string
                        description: Overridable price of the product, if not specified, the default will be used. Must be greater than or equal to 0.
                      product_id:
                        type: integer
                        description: The id of the product to be added to the order.
                        format: int64
                      quantity:
                        type: integer
                        description: Quantity must be greater than or equal to 1
                        format: int32
                order_title:
                  type: string
                order_type:
                  type: string
                  enum:
                  - Offline
                  - Online
                promo_codes:
                  type: array
                  description: Uses multiple strings as promo codes. The corresponding discount will be applied to the order.
                  items:
                    type: string
                sales_affiliate_id:
                  type: integer
                  format: int64
                shipping_address:
                  title: RestV1AddressInformation
                  type: object
                  properties:
                    company:
                      type: string
                    country_code:
                      type: string
                    first_name:
                      type: string
                    is_invoice_to_company:
                      type: boolean
                    last_name:
                      type: string
                    line1:
                      type: string
                    line2:
                      type: string
                    locality:
                      type: string
                    middle_name:
                      type: string
                    phone:
                      type: string
                    region:
                      type: string
                    zip_code:
                      type: string
                    zip_four:
                      type: string
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                title: Order
                type: object
                properties:
                  contact:
                    title: EcommerceReportingOrderContactDetails
                    type: object
                    properties:
                      company_name:
                        type: string
                      email:
                        type: string
                      first_name:
                        type: string
                      id:
                        type: integer
                        format: int64
                      job_title:
                        type: string
                      last_name:
                        type: string
                  creation_date:
                    type: string
                  id:
                    type: integer
                    format: int64
                  lead_affiliate_id:
                    type: integer
                    format: int64
                  modification_date:
                    type: string
                  notes:
                    type: string
                  order_date:
                    type: string
                  order_items:
                    type: array
                    items:
                      title: OrderItem
                      type: object
                      properties:
                        billingCycle:
                          type: integer
                          format: int32
                        cost:
                          type: number
                          format: double
                        description:
                          type: string
                        discount:
                          type: number
                          format: double
                        frequency:
                          type: integer
                          format: int32
                        id:
                          type: integer
                          format: int64
                        jobRecurringId:
                          type: integer
                          format: int64
                        name:
                          type: string
                        notes:
                          type: string
                        numberOfPayments:
                          type: integer
                          format: int32
                        orderItemTaxes:
                          type: array
                          items:
                            title: OrderItemTax
                            type: object
                            properties:
                              amount:
                                type: number
                                format: double
                              id:
                                type: integer
                                format: int64
                              name:
                                type: string
                              orderItemId:
                                type: integer
                                format: int64
                              rate:
                                type: number
                                format: double
                              taxTemplateId:
                                type: integer
                                format: int64
                        price:
                          type: number
                          format: double
                        product:
                          title: Product_
                          type: object
                          properties:
                            id:
                              type: integer
                              format: int64
                            product_desc:
                              type: string
                            product_name:
                              type: string
                            product_options:
                              type: array
                              items:
                                title: ProductOption
                                type: object
                                properties:
                                  allow_spaces:
                                    type: boolean
                                  can_contain_character:
                                    type: boolean
                                  can_contain_number:
                                    type: boolean
                                  can_end_with_character:
                                    type: boolean
                                  can_end_with_number:
                                    type: boolean
                                  can_start_with_character:
                                    type: boolean
                                  can_start_with_number:
                                    type: boolean
                                  display_index:
                                    type: integer
                                    format: int32
                                  id:
                                    type: integer
                                    format: int64
                                  label:
                                    type: string
                                  max_chars:
                                    type: integer
                                    format: int32
                                  min_chars:
                                    type: integer
                                    format: int32
                                  name:
                                    type: string
                                  required:
                                    type: boolean
                                  text_message:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - FixedList
                                    - Variable
                                  values:
                                    type: array
                                    items:
                                      title: ProductOptionValue
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                          format: int64
                                        index:
                                          type: integer
                                          format: int64
                                        is_default:
                                          type: boolean
                                        label:
                                          type: string
                                        price_adjustment:
                                          type: number
                                          format: double
                                        sku:
                                          type: string
                            product_price:
                              type: number
                              format: double
                            product_short_desc:
                              type: string
                            sku:
                              type: string
                            status:
                              type: integer
                              format: int32
                            subscription_only:
                              type: boolean
                            subscription_plans:
                              type: array
                              items:
                                title: SubscriptionPlan_
                                type: object
                                properties:
                                  active:
                                    type: boolean
                                  cycle:
                                    type: integer
                                    format: int32
                                  frequency:
                                    type: integer
                                    format: int32
                                  id:
                                    type: integer
                                    format: int64
                                  number_of_cycles:
                                    type: integer
                                    format: int32
                                  plan_price:
                                    type: number
                                    format: double
                                  subscription_plan_index:
                                    type: integer
                                    format: int32
                                  subscription_plan_name:
                                    type: string
                                  url:
                                    type: string
                            url:
                              type: string
                        quantity:
                          type: integer
                          format: int32
                        recurringBilling:
                          type: boolean
                        recurringCyclesCompleted:
                          type: integer
                          format: int32
                        recurringEndDate:
                          type: string
                        recurringInactive:
                          type: boolean
                        recurringNextBillDate:
                          type: string
                        recurringStartDate:
                          type: string
                        specialAmount:
                          type: number
                          format: double
                        specialId:
                          type: integer
                          format: int64
                        specialPctOrAmt:
                          type: integer
                          format: int32
                        type:
                          type: string
                  payment_plan:
                    title: RestPaymentPlan
                    required:
                    - days_between_payments
                    - number_of_payments
                    - plan_start_date
                    type: object
                    properties:
                      auto_charge:
                        type: boolean
                      credit_card_id:
                        type: integer
                        format: int64
                      days_between_payments:
                        type: integer
                        format: int32
                      initial_payment_amount:
                        type: number
                        format: double
                      initial_payment_date:
                        type: string
                        format: date
                      number_of_payments:
                        type: integer
                        format: int32
                      payment_gateway:
                        title: PaymentGatewayV1
                        type: object
                        properties:
                          merchant_account_id:
                            type: integer
                            format: int64
                          use_default:
                            type: boolean
                      plan_start_date:
                        type: string
                        format: date
                  refund_total:
                    type: number
                    format: double
                  sales_affiliate_id:
                    type: integer
                    format: int64
                  shipping_information:
                    title: RestV1AddressInformation
                    type: object
                    properties:
                      company:
                        type: string
                      country_code:
                        type: string
                      first_name:
                        type: string
                      is_invoice_to_company:
                        type: boolean
                      last_name:
                        type: string
                      line1:
                        type: string
                      line2:
                        type: string
                      locality:
                        type: string
                      middle_name:
                        type: string
                      phone:
                        type: string
                      region:
                        type: string
                      zip_code:
                        type: string
                      zip_four:
                        type: string
                  status:
                    type: string
                  title:
                    type: string
                  total:
                    type: number
                    format: double
                  total_due:
                    type: number
                    format: double
                  total_paid:
                    type: number
                    format: double
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
      x-codegen-request-body-name: createOrder
    servers:
    - url: https://api.infusionsoft.com/crm/rest
  /v1/orders/model:
    get:
      tags:
      - E-Commerce
      summary: Retrieve Custom Order Model
      description: Get the custom fields for the Order object
      operationId: retrieveOrderModelUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ObjectModel
                type: object
                properties:
                  custom_fields:
                    type: array
                    items:
                      title: CustomFieldMetaData
                      type: object
                      properties:
                        default_value:
                          type: string
                        field_name:
                          type: string
                        field_type:
                          type: string
                          enum:
                          - Currency
                          - Date
                          - DateTime
                          - DayOfWeek
                          - Drilldown
                          - Email
                          - Month
                          - ListBox
                          - Name
                          - WholeNumber
                          - DecimalNumber
                          - Percent
                          - PhoneNumber
                          - Radio
                          - Dropdown
                          - SocialSecurityNumber
                          - State
                          - Text
                          - TextArea
                          - User
                          - UserListBox
                          - Website
                          - Year
                          - YesNo
                        id:
                          type: integer
                          format: int64
                        label:
                          type: string
                        options:
                          type: array
                          items:
                            title: CustomFieldOption
                            type: object
                            properties:
                              id:
                                type: string
                              label:
                                type: string
                              options:
                                type: array
                                items:
                                  $ref: '#/components/schemas/CustomFieldOption'
                        record_type:
                          type: string
                          enum:
                          - CONTACT
                          - REFERRAL_PARTNER
                          - OPPORTUNITY
                          - TASK_NOTE_APPOINTMENT
                          - COMPANY
                          - ORDER
                          - SUBSCRIPTION
                  optional_properties:
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
      deprecated: false
    servers:
    - url: https://api.infusionsoft.com/crm/rest
  /v1/orders/{orderId}:
    get:
      tags:
      - E-Commerce
      summary: Retrieve an Order
      description: 'Retrieves a single order. The order may or may not have items.


        Potential values for order status:`DRAFT`, `SENT`, `VIEWED`, `PAID`'
      operationId: getOrderUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: EcommerceReportingOrder
                type: object
                properties:
                  allow_payment:
                    type: boolean
                  allow_paypal:
                    type: boolean
                  contact:
                    title: EcommerceReportingOrderContactDetails
                    type: object
                    properties:
                      company_name:
                        type: string
                      email:
                        type: string
                      first_name:
                        type: string
                      id:
                        type: integer
                        format: int64
                      job_title:
                        type: string
                      last_name:
                        type: string
                  contact_id:
                    type: string
                  creation_date:
                    type: string
                  id:
                    type: integer
                    format: int64
                  invoice_number:
                    type: integer
                    format: int64
                  lead_affiliate_id:
                    type: integer
                    format: int64
                  modification_date:
                    type: string
                  notes:
                    type: string
                  order_date:
                    type: string
                  order_items:
                    type: array
                    items:
                      title: EcommerceReportingOrderItem
                      type: object
                      properties:
                        cost:
                          type: number
                          format: double
                        description:
                          type: string
                        discount:
                          type: number
                          format: double
                        id:
                          type: integer
                          format: int64
                        jobRecurringId:
                          type: integer
                          format: int64
                        name:
                          type: string
                        notes:
                          type: string
                        price:
                          type: number
                          format: double
                        product:
                          title: EcommerceReportingSimpleProduct
                          type: object
                          properties:
                            description:
                              type: string
                            id:
                              type: integer
                              format: int64
                            name:
                              type: string
                            shippable:
                              type: boolean
                            sku:
                              type: string
                            taxable:
                              type: boolean
                        quantity:
                          type: integer
                          format: int32
                        specialAmount:
                          type: number
                          format: double
                        specialId:
                          type: integer
                          format: int64
                        specialPctOrAmt:
                          type: integer
                          format: int32
                        subscriptionPlan:
                          title: SubscriptionPlan
                          type: object
                          properties:
                            active:
                              type: boolean
                            cycle:
                              type: integer
                              format: int32
                            frequency:
                              type: integer
                              format: int32
                            id:
                              type: integer
                              format: int64
                            number_of_cycles:
                              type: integer
                              format: int32
                            plan_price:
                              type: number
                              format: double
                            prorate:
                              type: boolean
                            subscription_plan_index:
                              type: integer
                              format: int32
                            subscription_plan_name:
                              type: string
                        type:
                          type: string
                  order_type:
                    type: string
                  payment_plan:
                    title: EcommerceReportingPaymentPlan
                    type: object
                    properties:
                      auto_charge:
                        type: boolean
                      credit_card_id:
                        type: integer
                        format: int64
                      days_between_payments:
                        type: integer
                        format: int64
                      days_between_retries:
                        type: integer
                        format: int64
                      initial_payment_amount:
                        type: number
                        format: double
                      initial_payment_date:
                        type: string
                      initial_payment_percent:
                        type: number
                        format: double
                      max_charge_attempts:
                        type: integer
                        format: int64
                      number_of_payments:
                        type: integer
                        format: int64
                      payment_gateway:
                        title: EcommerceReportingPaymentGateway
                        type: object
                        properties:
                          merchant_account_id:
                            type: integer
                            format: int64
                          merchant_account_name:
                            type: string
                          use_default:
                            type: boolean
                      payment_method_id:
                        type: string
                      plan_start_date:
                        type: string
                  product_id:
                    type: string
                  recurring:
                    type: boolean
                  refund_total:
                    type: number
                    format: double
                  sales_affiliate_id:
                    type: integer
                    format: int64
                  shipping_information:
                    title: EcommerceReportingShippingInformation
                    type: object
                    properties:
                      city:
                        type: string
                      company:
                        type: string
                      country:
                        type: string
                      first_name:
                        type: string
                      id:
                        type: integer
                        format: int64
                      invoiceToCompany:
                        type: boolean
                      last_name:
                        type: string
                      middle_name:
                        type: string
                      phone:
                        type: string
                      state:
                        type: string
                      street1:
                        type: string
                      street2:
                        type: string
                      zip:
                        type: string
                  source_type:
                    type: string
                    enum:
                    - INVOICE
                    - API
                    - CHECKOUT_FORM
                    - MANUAL_PAYMENT
                    - UNKNOWN
                    - QBO_SYNC
                  status:
                    type: string
                  terms:
                    type: string
                  title:
                    type: string
                  total:
                    type: number
                    format: double
                  total_due:
                    type: number
                    format: double
                  total_paid:
                    type: number
                    format: double
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
                        items:
                          title: StackTraceElement
                          type: object
                          properties:
                            classLoaderName:
                              type: string
                            className:
                              type: string
                            fileName:
                              type: string
                            lineNumber:
                              type: integer
                              format: int32
                            methodName:
                              type: string
                            moduleName:
                              type: string
                            moduleVersion:
                              type: string
                            nativeMethod:
                              type: boolean
                      suppressed:
                        type: array
                        items:
                          $ref: '#/components/schemas/Throwable'
                  localizedMessage:
                    type: string
                  message:
                    type: string
                  stackTrace:
                    type: array
                    items:
                      title: StackTraceElement
                      type: object
                      properties:
                        classLoaderName:
                          type: string
                        className:
                          type: string
                        fileName:
                          type: string
                        lineNumber:
                          type: integer
                          format: int32
                        methodName:
                          type: string
                        moduleName:
                          type: string
                        moduleVersion:
                          type: string
                        nativeMethod:
                          type: boolean
                  suppressed:
                    type: array
                    items:
                      title: Throwable
                      type: object
                      properties:
                        cause:
                          $ref: '#/components/schemas/Throwable'
                        localizedMessage:
                          type: string
                        message:
                          type: string
                        stackTrace:
                          type: array
                          items:
                            title: StackTraceElement
                            type: object
                            properties:
                              classLoaderName:
                                type: string
                              className:
                                type: string
                              fileName:
                                type: string
                              lineNumber:
                                type: integer
                                format: int32
                              methodName:
                                type: string
                              moduleName:
                                type: string
                              moduleVersion:
                                type: string
                              nativeMethod:
                                type: boolean
                        suppressed:
                          type: array
                          items:
                            $ref: '#/components/schemas/Throwable'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  cause:
                    title: Throwable
                    type: object
                    properties:
                      cause:
                        $ref: '#/components/schemas/Throwable'
                      localizedMessage:
                        type: string
                      message:
                        type: string
                      stackTrace:
                        type: array
[...]
