openapi: 3.0.1
info:
  title: SLAAPI
  description: Service Level Aggregation API (SLAAPI) to handle public API spec compliance
  contact:
    name: Gryffindor
    email: gryffindor@keap.com
  version: v1
servers:
- url: https://api.infusionsoft.com
paths:
  /v2/customFields:
    get:
      tags:
      - Custom Fields
      summary: Retrieves a list of custom fields in a tenant.
      description: Retrieves a list of custom fields in a tenant.
      operationId: getPipelineCustomFields
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      responses:
        "200":
          description: a list of PipelineCustomFields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineCustomFields"
    post:
      tags:
      - Custom Fields
      summary: Creates a new custom field.
      description: Creates a new custom field.
      operationId: createPipelineCustomField
      requestBody:
        description: the request to create a custom field.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePipelineCustomFieldRequest"
        required: true
      responses:
        "201":
          description: The created custom field as a PipelineCustomField object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineCustomField"
  /v2/customFields/{id}:
    delete:
      tags:
      - Custom Fields
      summary: Deletes a custom field
      description: Deletes a custom field
      operationId: deletePipelineCustomField
      parameters:
      - name: id
        in: path
        description: the identifier of the custom field to delete
        required: true
        schema:
          type: string
      responses:
        "204":
          description: deletePipelineCustomField 204 response
    patch:
      tags:
      - Custom Fields
      summary: Updates a custom field
      description: Updates a custom field
      operationId: updatePipelineCustomFields
      parameters:
      - name: id
        in: path
        description: the identifier of the custom field to update
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing updated custom field details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomFieldRequest"
        required: true
      responses:
        "200":
          description: the updated PipelineCustomField
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineCustomField"
  /v2/dateExpressions:
    get:
      tags:
      - DateExpression
      operationId: queryDateExpressions
      parameters:
      - name: time_zone
        in: query
        schema:
          type: string
          nullable: true
      - name: query
        in: query
        schema:
          type: string
          nullable: true
      responses:
        "200":
          description: queryDateExpressions 200 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DateExpressionResponse"
      security:
      - BearerAuth: []
  /v2/deals:
    get:
      tags:
      - Deals
      summary: Lists entities based on the provided ListCommand.
      description: Lists entities based on the provided ListCommand.
      operationId: listDeal
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      responses:
        "200":
          description: a response containing the list of entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealListResponse"
      security:
      - BearerAuth: []
    post:
      tags:
      - Deals
      summary: Creates a new entity.
      description: Creates a new entity.
      operationId: createDeal
      requestBody:
        description: the create request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDealRequest"
        required: true
      responses:
        "201":
          description: The created entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
      security:
      - BearerAuth: []
  /v2/deals/-/bulk:
    get:
      tags:
      - Deals
      summary: Retrieves a list of deals by their IDs.
      description: Retrieves a list of deals by their IDs.
      operationId: listDealsByIds
      parameters:
      - name: id
        in: query
        description: the deal IDs to list
        required: true
        schema:
          minItems: 1
          type: array
          items:
            type: string
      responses:
        "200":
          description: the list of requested Deal
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Deal"
      security:
      - BearerAuth: []
    delete:
      tags:
      - Deals
      summary: Deletes a list of deals by their IDs.
      description: Deletes a list of deals by their IDs.
      operationId: deleteDealsInBulk
      parameters:
      - name: id
        in: query
        description: each ID of each deal to delete
        required: true
        schema:
          minItems: 1
          type: array
          items:
            type: string
      responses:
        "204":
          description: deleteDealsInBulk 204 response
      security:
      - BearerAuth: []
  /v2/deals/-/contacts/{contact_id}:
    get:
      tags:
      - Deals
      summary: Lists all deals associated with a specific contact.
      description: Lists all deals associated with a specific contact.
      operationId: listDealsForContact
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: contact_id
        in: path
        description: the contact ID to list deals for
        required: true
        schema:
          type: string
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: a list of deals wrapped in a DealListResponse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealListResponse"
      security:
      - BearerAuth: []
  /v2/deals/-/notes:
    post:
      tags:
      - Deals
      summary: Creates new notes in bulk.
      description: Creates new notes in bulk.
      operationId: createBulkNotesForDeals
      requestBody:
        description: the request body containing note details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkCreateDealNotesRequest"
        required: true
      responses:
        "201":
          description: the created DealNote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCreateDealNotesResponse"
      security:
      - BearerAuth: []
  /v2/deals/-/notes/{note_id}:
    get:
      tags:
      - Deals
      summary: Retrieves a specific deal note by its ID.
      description: Retrieves a specific deal note by its ID.
      operationId: getDealNote
      parameters:
      - name: note_id
        in: path
        description: the ID of the note to retrieve
        required: true
        schema:
          type: string
      responses:
        "200":
          description: the requested DealNote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealNote"
      security:
      - BearerAuth: []
    delete:
      tags:
      - Deals
      summary: Deletes a specific deal note by its ID.
      description: Deletes a specific deal note by its ID.
      operationId: deleteDealNote
      parameters:
      - name: note_id
        in: path
        description: the ID of the note to delete
        required: true
        schema:
          type: string
      responses:
        "204":
          description: a HttpResponse indicating the result of the delete operation
      security:
      - BearerAuth: []
    patch:
      tags:
      - Deals
      summary: Updates a specific deal note by its ID.
      description: Updates a specific deal note by its ID.
      operationId: updateDealNote
      parameters:
      - name: note_id
        in: path
        description: the ID of the note to update
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing updated note details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDealNoteRequest"
        required: true
      responses:
        "200":
          description: the updated DealNote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealNote"
      security:
      - BearerAuth: []
  /v2/deals/bulk:
    post:
      tags:
      - Deals
      summary: Creates multiple deals in bulk.
      description: Creates multiple deals in bulk.
      operationId: createDealsInBulk
      requestBody:
        description: the request body containing multiple deal details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDealsInBulkRequest"
        required: true
      responses:
        "201":
          description: the created deals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDealsInBulkResponse"
      security:
      - BearerAuth: []
  /v2/deals/moveByContactIds:
    post:
      tags:
      - Deals
      summary: "Moves the active deals of specified contacts from one stage to another,\
        \ in bulk."
      description: "Moves the active deals of specified contacts from one stage to\
        \ another, in bulk."
      operationId: moveDealsForContacts
      requestBody:
        description: the request body containing move details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoveDealsForContactsRequest"
        required: true
      responses:
        "200":
          description: the IDs of the Deals moved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoveDealsForContactsResponse"
      security:
      - BearerAuth: []
  /v2/deals/{id}:
    get:
      tags:
      - Deals
      summary: Retrieves an entity by its identifier.
      description: Retrieves an entity by its identifier.
      operationId: getDeal
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The retrieved entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
      security:
      - BearerAuth: []
    delete:
      tags:
      - Deals
      summary: Deletes an entity by its identifier.
      description: Deletes an entity by its identifier.
      operationId: deleteDeal
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          description: A response indicating no content
      security:
      - BearerAuth: []
    patch:
      tags:
      - Deals
      summary: Updates an existing entity.
      description: Updates an existing entity.
      operationId: updateDeal
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      - name: update_mask
        in: query
        description: the fields to update
        required: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: the update request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDealRequest"
        required: true
      responses:
        "200":
          description: The updated entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deal"
      security:
      - BearerAuth: []
  /v2/deals/{id}/customFields:validate:
    post:
      tags:
      - Deals
      summary: Validates the custom fields in a Deal.
      description: Validates the custom fields in a Deal.
      operationId: validateCustomFields
      parameters:
      - name: id
        in: path
        description: the ID of the deal to move
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing validation details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DealCustomFieldsValidationRequest"
        required: true
      responses:
        "200":
          description: the result of the validation containing errors and warnings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealCustomFieldsValidationResponse"
      security:
      - BearerAuth: []
  /v2/deals/{id}/notes:
    get:
      tags:
      - Deals
      summary: Lists all notes associated with a specific deal.
      description: Lists all notes associated with a specific deal.
      operationId: listNotesForDeal
      parameters:
      - name: id
        in: path
        description: the deal ID to list notes for
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: a list of deal notes wrapped in a DealNoteListResponse
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealNoteListResponse"
      security:
      - BearerAuth: []
    post:
      tags:
      - Deals
      summary: Creates a new note for a specific deal.
      description: Creates a new note for a specific deal.
      operationId: createNoteForDeal
      parameters:
      - name: id
        in: path
        description: the deal ID to associate the new note with
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing note details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDealNoteRequest"
        required: true
      responses:
        "201":
          description: the created DealNote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealNote"
      security:
      - BearerAuth: []
  /v2/deals/{id}:count:
    get:
      tags:
      - Deals
      summary: Retrieves the count of deals based on the specified filter criteria.
      description: Retrieves the count of deals based on the specified filter criteria.
      operationId: countDealsFiltered
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      - name: id
        in: path
        description: the deal IDs to list
        required: true
        schema:
          type: string
      responses:
        "200":
          description: the count of deals matching the specified filter criteria.
          content:
            application/json:
              schema:
                type: integer
                format: int64
      security:
      - BearerAuth: []
  /v2/deals/{id}:move:
    post:
      tags:
      - Deals
      summary: Moves the specified deal to a specified stage.
      description: Moves the specified deal to a specified stage.
      operationId: moveDeal
      parameters:
      - name: id
        in: path
        description: the ID of the deal to move
        required: true
        schema:
          type: string
      requestBody:
        description: the stage to move the deal to
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: the IDs of the Deals moved
      security:
      - BearerAuth: []
  /v2/pipelines:
    get:
      tags:
      - Pipelines
      summary: Lists entities based on the provided ListCommand.
      description: Lists entities based on the provided ListCommand.
      operationId: listPipeline
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      responses:
        "200":
          description: a response containing the list of entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineListResponse"
      security:
      - BearerAuth: []
    post:
      tags:
      - Pipelines
      summary: Creates a new entity.
      description: Creates a new entity.
      operationId: createPipeline
      requestBody:
        description: the create request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePipelineRequest"
        required: true
      responses:
        "201":
          description: The created entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
      security:
      - BearerAuth: []
  /v2/pipelines/summaries:
    get:
      tags:
      - Pipelines
      summary: Retrieves a list of pipeline summaries.
      description: Retrieves a list of pipeline summaries.
      operationId: listPipelineSummaries
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: the response containing the list of pipeline summaries and
            the next page token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineSummariesListResponse"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}:
    get:
      tags:
      - Pipelines
      summary: Retrieves an entity by its identifier.
      description: Retrieves an entity by its identifier.
      operationId: getPipeline
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The retrieved entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
      security:
      - BearerAuth: []
    delete:
      tags:
      - Pipelines
      summary: Deletes a pipeline.
      description: Deletes a pipeline.
      operationId: deletePipeline
      parameters:
      - name: new_stage_id
        in: query
        description: "the new stage identifier, can be null"
        schema:
          type: string
          nullable: true
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      - name: allow_cleanup
        in: query
        description: "flag indicating whether cleanup is allowed, can be null"
        schema:
          type: boolean
          nullable: true
      responses:
        "204":
          description: A response indicating no content
      security:
      - BearerAuth: []
    patch:
      tags:
      - Pipelines
      summary: Updates an existing entity.
      description: Updates an existing entity.
      operationId: updatePipeline
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      - name: update_mask
        in: query
        description: the fields to update
        required: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: the update request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePipelineRequest"
        required: true
      responses:
        "200":
          description: The updated entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pipeline"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}/bulk:
    patch:
      tags:
      - Pipelines
      summary: Updates a pipeline's deals in bulk.
      description: Updates a pipeline's deals in bulk.
      operationId: updatePipelinesInBulk
      parameters:
      - name: id
        in: path
        description: the pipeline ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDealsInBulkRequest"
        required: true
      responses:
        "200":
          description: the response containing the results of the bulk update operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDealsInBulkResponse"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}/deals:
    get:
      tags:
      - Pipelines
      summary: Retrieves the list of deals for a specific pipeline.
      description: Retrieves the list of deals for a specific pipeline.
      operationId: getPipelineDeals
      parameters:
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: a Mono emitting the count of deals
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineDealsListResponse"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}/form:
    get:
      tags:
      - Display Forms
      summary: Retrieves a specific display form by a pipeline ID.
      description: Retrieves a specific display form by a pipeline ID.
      operationId: getPipelineDisplayForm
      parameters:
      - name: id
        in: path
        description: the ID of the pipeline containing the form
        required: true
        schema:
          type: string
      responses:
        "200":
          description: the requested Deal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisplayForm"
    patch:
      tags:
      - Display Forms
      summary: Updates a display form
      description: Updates a display form
      operationId: updatePipelineDisplayForm
      parameters:
      - name: id
        in: path
        description: the ID of the pipeline containing the form
        required: true
        schema:
          type: string
      requestBody:
        description: the request body containing updated display form details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDisplayFormRequest"
        required: true
      responses:
        "200":
          description: the updated DisplayForm
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisplayForm"
  /v2/pipelines/{id}/outcomes:
    get:
      tags:
      - Pipelines
      summary: Gets the outcome labels for a pipeline.
      description: Gets the outcome labels for a pipeline.
      operationId: getPipelineOutcomeLabels
      parameters:
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: the updated list of the pipeline's outcome labels
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineOutcomeLabelListResponse"
      security:
      - BearerAuth: []
    patch:
      tags:
      - Pipelines
      summary: Sets the outcome labels for a pipeline.
      description: Sets the outcome labels for a pipeline.
      operationId: setPipelineOutcomeLabels
      parameters:
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      requestBody:
        description: the request containing the new outcome labels
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOutcomeLabelsRequest"
        required: true
      responses:
        "200":
          description: the updated list of the pipeline's outcome labels
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineOutcomeLabelListResponse"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}/stages:
    get:
      tags:
      - Pipelines
      summary: Retrieves a list of stages for a specific pipeline.
      description: Retrieves a list of stages for a specific pipeline.
      operationId: listPipelineStages
      parameters:
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: the response containing the list of pipeline stages and the
            next page token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineStageListResponse"
      security:
      - BearerAuth: []
  /v2/pipelines/{id}:dealsCount:
    get:
      tags:
      - Pipelines
      summary: Retrieves the count of deals for a specific pipeline.
      description: Retrieves the count of deals for a specific pipeline.
      operationId: getDealCountForPipeline
      parameters:
      - name: id
        in: path
        description: the pipeline identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: a Mono emitting the count of deals
          content:
            application/json:
              schema:
                type: integer
                format: int64
      security:
      - BearerAuth: []
  /v2/stages:
    get:
      tags:
      - Stages
      summary: Lists entities based on the provided ListCommand.
      description: Lists entities based on the provided ListCommand.
      operationId: listStages
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      responses:
        "200":
          description: a response containing the list of entities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StageListResponse"
      security:
      - BearerAuth: []
    post:
      tags:
      - Stages
      summary: Creates a new entity.
      description: Creates a new entity.
      operationId: createStages
      requestBody:
        description: the create request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStageRequest"
        required: true
      responses:
        "201":
          description: The created entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stage"
      security:
      - BearerAuth: []
  /v2/stages/{id}:
    get:
      tags:
      - Stages
      summary: Retrieves an entity by its identifier.
      description: Retrieves an entity by its identifier.
      operationId: getStages
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The retrieved entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stage"
      security:
      - BearerAuth: []
    delete:
      tags:
      - Stages
      summary: Deletes a stage by its identifier for a given tenant.
      description: Deletes a stage by its identifier for a given tenant.
      operationId: deleteStage
      parameters:
      - name: new_stage_id
        in: query
        description: "the new stage identifier, can be null"
        schema:
          type: string
          nullable: true
      - name: id
        in: path
        description: the stage identifier
        required: true
        schema:
          type: string
      responses:
        "204":
          description: A response indicating no content
      security:
      - BearerAuth: []
    patch:
      tags:
      - Stages
      summary: Updates an existing entity.
      description: Updates an existing entity.
      operationId: updateStages
      parameters:
      - name: id
        in: path
        description: the entity identifier
        required: true
        schema:
          type: string
      - name: update_mask
        in: query
        description: the fields to update
        required: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: the update request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStageRequest"
        required: true
      responses:
        "200":
          description: The updated entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stage"
      security:
      - BearerAuth: []
  /v2/stages/{id}/dealCount:
    get:
      tags:
      - Stages
      summary: Counts the number of deals in a specific stage.
      description: Counts the number of deals in a specific stage.
      operationId: countDealsInStage
      parameters:
      - name: id
        in: path
        description: the stage identifier
        required: true
        schema:
          type: string
      responses:
        "200":
          description: the count of deals in the stage
          content:
            application/json:
              schema:
                type: integer
                format: int64
      security:
      - BearerAuth: []
  /v2/stages/{id}/deals:
    get:
      tags:
      - Stages
      summary: Retrieves a list of deals for a specific stage.
      description: Retrieves a list of deals for a specific stage.
      operationId: listStageDeals
      parameters:
      - name: filter
        in: query
        schema:
          type: string
          description: Search filter to apply to results
          nullable: true
      - name: page_size
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: Total number of items to return per page
          format: int32
          nullable: true
          example: 100
          default: 1000
      - name: page_token
        in: query
        schema:
          type: string
          description: Page token
          nullable: true
      - name: id
        in: path
        description: the stage identifier
        required: true
        schema:
          type: string
      - name: order_by
        in: query
        schema:
          type: string
          description: Attribute and direction to order items by. E.g. `given_name
            desc`
          nullable: true
      responses:
        "200":
          description: the response containing the list of deals and the next page
            token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StageDealListResponse"
      security:
      - BearerAuth: []
components:
  schemas:
    BaseListResponse_DealNote_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_Deal_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_PipelineCustomField_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_PipelineDealWithStageName_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_PipelineSummary_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_Pipeline_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BaseListResponse_Stage_:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
      description: The list responses.
    BulkCreateDealNoteRequest:
      required:
      - body
      - created_by
      - deal_id
      type: object
      properties:
        body:
          maxLength: 5000
          minLength: 1
          type: string
          description: The body of the note. Must not be blank and must be between
            1 and 5000 characters.
        created_by:
          maxLength: 255
          minLength: 1
          type: string
          description: The creator of the note. Must not be blank and must be between
            1 and 255 characters.
        deal_id:
          minLength: 1
          type: string
          description: The ID of the deal to which the note is associated. Must not
            be blank.
      description: Request model for creating a deal note as part of a bulk operation.
    BulkCreateDealNoteResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the note.
        body:
          type: string
          description: The body content of the note.
        deal_id:
          type: string
          description: The ID of the deal associated with the note.
        created_by:
          type: string
          description: The ID of the user who created the note.
        created_time:
          type: string
          description: The timestamp when the note was created. Formatted as a string
            according to the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          format: date-time
        modified_time:
          type: string
          description: The timestamp when the note was last modified. Formatted as
            a string according to the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          format: date-time
        create_success:
          type: boolean
          description: Indicates whether the note was created successfully.
        error_message:
          type: string
          description: "If the note creation was not successful, this field contains\
            \ the error message."
      description: Response model for creating a deal note as part of a bulk operation.
    BulkCreateDealNotesRequest:
      required:
      - create_note_requests
      type: object
      properties:
        create_note_requests:
          maxItems: 1000
          minItems: 1
          type: array
          description: List of requests to create deal notes. Each request must not
            be null and must contain valid data.
          items:
            $ref: "#/components/schemas/BulkCreateDealNoteRequest"
      description: Request model for creating multiple deal notes in bulk.
    BulkCreateDealNotesResponse:
      type: object
      properties:
        create_note_responses:
          type: array
          description: List of responses for each deal note creation request. Each
            response contains details about the creation status and any associated
            error messages.
          items:
            $ref: "#/components/schemas/BulkCreateDealNoteResponse"
      description: Response model for creating multiple deal notes in bulk.
    CreateDealInBulkRequest:
      required:
      - contacts
      - external_system_id
      - name
      - owners
      - stage_id
      - status
      - task_ids
      - value
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name of the deal. This field is required and must have
            at least one character.
        value:
          description: The monetary value of the deal. This field is required and
            must be valid.
          allOf:
          - $ref: "#/components/schemas/Money"
        contacts:
          type: array
          description: The list of contacts associated with the deal. This field is
            required.
          items:
            $ref: "#/components/schemas/DealContact"
        stage_id:
          minLength: 1
          type: string
          description: The id of the stage tied to the deal. This field is required
            and must be valid.
        owners:
          type: array
          description: The list of owners of the deal. This field is required.
          items:
            $ref: "#/components/schemas/Owner"
        owner_id:
          type: string
          description: The ID of the owner of the deal. This field is optional.
          nullable: true
        task_ids:
          type: array
          description: The list of task IDs associated with the deal. This field is
            required.
          items:
            type: string
        status:
          type: string
          description: The status of the deal. This field is required.
        estimated_close_time:
          type: string
          description: The estimated close time of the deal. This field is optional.
          format: date-time
          nullable: true
        external_system_id:
          minLength: 1
          type: string
        custom_fields:
          type: object
          additionalProperties: true
          description: The custom fields associated with the deal. This field is optional.
          nullable: true
      description: Request model for creating one deal as part of a bulk creation.
    CreateDealInBulkResponse:
      type: object
      properties:
        deal_id:
          type: string
          nullable: true
        create_success:
          type: boolean
          nullable: true
        error_message:
          type: string
          nullable: true
      description: Response model for creating multiple deals in bulk.
    CreateDealNoteRequest:
      required:
      - body
      - created_by
      type: object
      properties:
        body:
          maxLength: 5000
          minLength: 1
          type: string
          description: The body of the note. Must not be blank and must be between
            1 and 5000 characters.
        created_by:
          maxLength: 255
          minLength: 1
          type: string
          description: The creator of the note. Must not be blank and must be between
            1 and 255 characters.
      description: Request model for creating a deal note.
    CreateDealRequest:
      required:
      - contacts
      - name
      - owners
      - stage_id
      - status
      - task_ids
      - value
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name of the deal. This field is required and must have
            at least one character.
        value:
          description: The monetary value of the deal. This field is required and
            must be valid.
          allOf:
          - $ref: "#/components/schemas/Money"
        contacts:
          type: array
          description: The list of contacts associated with the deal. This field is
            required.
          items:
            $ref: "#/components/schemas/DealContact"
        stage_id:
          minLength: 1
          type: string
          description: The ID of the stage tied to the deal. This field is required
            and must be valid.
        owners:
          type: array
          description: The list of owners of the deal. This field is required.
          items:
            $ref: "#/components/schemas/Owner"
        owner_id:
          type: string
          description: The ID of the owner of the deal. This field is optional.
          nullable: true
        task_ids:
          type: array
          description: The list of task IDs associated with the deal. This field is
            required.
          items:
            type: string
        status:
          type: string
          description: The status of the deal. This field is required.
        estimated_close_time:
          type: string
          description: The estimated close time of the deal. This field is optional.
          format: date-time
          nullable: true
        custom_fields:
          type: object
          additionalProperties: true
          description: The custom fields associated with the deal. This field is optional.
          nullable: true
      description: Request model for creating a deal.
    CreateDealsInBulkRequest:
      required:
      - create_deal_requests
      type: object
      properties:
        create_deal_requests:
          type: array
          description: The list of requests to create deals. This field is required.
          items:
            $ref: "#/components/schemas/CreateDealInBulkRequest"
      description: Request model for creating multiple deals in bulk.
    CreateDealsInBulkResponse:
      type: object
      properties:
        created_deals:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/CreateDealInBulkResponse"
          description: |-
            Map of created deals.

            Keys: Each external_system_id specified in the CreateDealsInBulkRequest request.

            Values: The result of the corresponding request to create a deal.
      description: Response model for creating multiple deals in bulk.
    CreatePipelineCustomFieldRequest:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          pattern: "^[a-zA-Z]\\w*$"
          type: string
          description: The name of the custom field. This field is required.
        type:
          description: The type of the custom field. This field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldType"
          - description: ""
        label:
          type: string
          description: The label of the custom field. This field is optional.
          nullable: true
        description:
          type: string
          description: The description of the custom field. This field is optional.
          nullable: true
        example_value:
          type: object
          description: The default value of the custom field.
          nullable: true
        helper_text:
          type: string
          description: The helper text for the custom field. This field is optional
            and is serialized to JSON as "helper_text".
          nullable: true
        default_value:
          type: object
          description: The default value of the custom field. This field is optional.
          nullable: true
        display_options:
          description: The display options for the custom field. This field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
          - description: ""
        options:
          description: The options for the custom field. This field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldOptions"
          - description: ""
        validators:
          type: array
          description: The list of validators for the custom field. This field is
            optional and must be a list of valid PipelineCustomFieldPropertyValidator.
          nullable: true
          items:
            $ref: "#/components/schemas/PipelineCustomFieldPropertyValidator"
      description: Class representing a request to create a custom field.
    CreatePipelineRequest:
      required:
      - name
      - stages
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: The name of the pipeline.
        stages:
          maxItems: 100
          minItems: 1
          type: array
          description: The stages of the pipeline.
          items:
            type: string
      description: Request for creating a pipeline.
    CreateStageRequest:
      required:
      - name
      - pipeline_id
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name of the stage.
        pipeline_id:
          minLength: 1
          type: string
          description: The ID of the pipeline to which the stage belongs.
      description: Request for creating a stage.
    DateExpression:
      required:
      - date_inferred
      - parse_end
      - parse_start
      - query
      - recurring
      - recurse_until
      - result
      - time_inferred
      type: object
      properties:
        query:
          type: string
        parse_start:
          type: integer
          description: Where in the expression this date exists (start)
          format: int32
        parse_end:
          type: integer
          description: Where in the expression this date exists
          format: int32
        date_inferred:
          type: boolean
          description: Whether the date portion of the results has been inferred (and
            can be ignored)
        time_inferred:
          type: boolean
          description: Whether the time portion of the results has been inferred (and
            can be ignored)
        result:
          allOf:
          - $ref: "#/components/schemas/LogicalDate"
          - description: ""
        recurring:
          type: boolean
          description: Whether the results are recurring
        recurse_until:
          description: "If recurring, when the recurrence ends"
          allOf:
          - $ref: "#/components/schemas/LogicalDate"
          - description: ""
        complete_match:
          type: boolean
          nullable: true
    DateExpressionResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/DateExpression"
    Deal:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
        name:
          type: string
          description: The name of the deal. This field is required and must have
            at least one character.
        value:
          description: The monetary value of the deal. This field is required and
            must be valid.
          allOf:
          - $ref: "#/components/schemas/Money"
        contact_ids:
          type: array
          description: The list of IDs of contacts associated with the deal. This
            field is required.
          items:
            type: string
        stage_id:
          type: string
          description: The stage of the deal. This field is required and must be valid.
        stage_assignment_time:
          type: string
          description: The time when the deal was assigned to the current stage. This
            field is required.
          format: date-time
        owner_ids:
          type: array
          description: The list of IDs of owners of the deal. This field is required.
          items:
            type: string
        task_ids:
          type: array
          description: The list of task IDs associated with the deal. This field is
            required.
          items:
            type: string
        order_id:
          type: string
          description: The order of the deal. This field is optional.
        status:
          type: string
          description: The status of the deal. This field is required.
        estimated_close_time:
          type: string
          description: The estimated close time of the deal. This field is optional.
          format: date-time
        closed_time:
          type: string
          description: The actual close time of the deal. This field is optional.
          format: date-time
        custom_fields:
          type: object
          additionalProperties: true
          description: The custom fields associated with the deal. This field is optional.
      description: Represents a deal.
    DealContact:
      required:
      - primary_contact
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
        primary_contact:
          type: boolean
          description: Indicates if this contact is the primary contact. This field
            is required.
      description: Represents a contact entity in the system.
    DealCustomFieldsPropertyValidationResult:
      type: object
      properties:
        path:
          type: array
          items:
            type: object
        error_code:
          type: string
        message:
          type: string
        args:
          description: To trace this error in the logs
        logref:
          type: string
      description: Response model for validating a single custom field in a deal.
    DealCustomFieldsValidationRequest:
      required:
      - custom_fields
      type: object
      properties:
        custom_fields:
          minItems: 1
          type: object
          additionalProperties: true
      description: Request model for validating custom fields in deals.
    DealCustomFieldsValidationResponse:
      required:
      - errors
      - warnings
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: "#/components/schemas/DealCustomFieldsPropertyValidationResult"
        warnings:
          type: array
          items:
            $ref: "#/components/schemas/DealCustomFieldsPropertyValidationResult"
      description: Response model for validating custom fields in deals.
    DealListResponse:
      type: object
      description: Response model for a list of deals.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_Deal_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          deals:
            type: array
            description: The list of Deals.
            items:
              $ref: "#/components/schemas/Deal"
    DealNote:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
        deal_id:
          type: string
          description: The ID of the deal associated with the note.
        body:
          type: string
          description: The body content of the note.
        created_by:
          type: string
          description: The ID of the user who created the note.
        created_time:
          type: string
          description: The timestamp when the note was created. Formatted as a string
            according to the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          format: date-time
        modified_time:
          type: string
          description: The timestamp when the note was last modified. Formatted as
            a string according to the pattern "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          format: date-time
      description: A model representing a note associated with a deal.
    DealNoteListResponse:
      type: object
      description: Response model for a list of deal notes.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_DealNote_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          notes:
            type: array
            description: The list of Note entities.
            items:
              $ref: "#/components/schemas/DealNote"
    DealStatus:
      type: string
      description: Enum representing the status of a deal.
      enum:
      - ACTIVE
      - WON
      - LOST
    DisplayForm:
      type: object
      properties:
        groups:
          type: array
          description: Groups of properties to display on the form.
          items:
            $ref: "#/components/schemas/DisplayGroup"
      description: A display form for a sales pipeline
    DisplayGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the display group.
        sort_order:
          type: integer
          description: Determines the order for where this display group shows up
            on the form.
          format: int32
        title:
          type: string
          description: The title of the display group.
        description:
          type: string
          description: The description of the display group.
        properties:
          type: array
          description: A list of properties that will be displayed in this group.
          items:
            $ref: "#/components/schemas/DisplayProperty"
      description: A group of properties on a display form
    DisplayProperty:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the display property.
        property:
          description: The custom field that defines this display property.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomField"
        source:
          description: The source of the display property.
          allOf:
          - $ref: "#/components/schemas/DisplayPropertySource"
        system_field_record:
          type: string
          description: "Represents the domain (e.g., pipeline, contact) that this\
            \ display property belongs to."
        system_field_id:
          type: string
          description: "Represents the identifier of the system field that is in that\
            \ displayProperty. The source of this field will depend on the domain\
            \ (e. g., \"dealName\" in pipelines)"
        label:
          type: string
          description: The label to display on this property to help users identify
            it
        description:
          type: string
          description: Documentation that explains the purpose of this property
        helper_text:
          type: string
          description: More detailed explanation of the property to be shown if a
            user requests more information about it
        default_value:
          description: The value of this property if a value is not explicitly provided
        display_options:
          description: Allowed values for this property
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
      description: A property for a group inside a display form
    DisplayPropertySource:
      type: string
      description: Enum representing the source of a display property.
      enum:
      - SYSTEM
      - CUSTOM
    FilterEntry:
      required:
      - key
      - operator
      - value
      type: object
      properties:
        key:
          type: string
          description: The key of the filter entry.
        operator:
          description: The operator of the filter entry.
          allOf:
          - $ref: "#/components/schemas/FilterOperator"
        value:
          type: string
          description: The value of the filter entry.
      description: Represents an entry in a filter.
    FilterOperator:
      type: string
      description: Enum representing filter operators.
      enum:
      - EQUALS
      - NOT_EQUALS
      - GREATER_THAN
      - GREATER_THAN_OR_EQUAL
      - LESS_THAN
      - LESS_THAN_OR_EQUAL
      - IN
      - NOT_IN
      - INCLUDES_ANY
      - EXCLUDES_ANY
      - BETWEEN
      - CONTAINS
    LogicalDate:
      type: object
      properties:
        dates:
          type: array
          items:
            type: string
            format: date-time
        chain:
          type: string
    Money:
      required:
      - amount
      - currency
      type: object
      properties:
        amount:
          type: number
          description: The amount of money. This field is required.
          format: double
        currency:
          type: string
          description: The currency of the money. This field is required.
      description: Represents a monetary value with an amount and currency.
    MoveDealsForContactsRequest:
      required:
      - contact_ids
      - from_stage
      - to_stage
      type: object
      properties:
        contact_ids:
          minItems: 1
          type: array
          description: List of IDs of the contacts whose active deals need to be moved.
          items:
            type: string
        from_stage:
          minLength: 1
          type: string
          description: The ID of the stage from which the deals should be moved.
        to_stage:
          minLength: 1
          type: string
          description: The ID of the stage to which the deals should be moved.
      description: Request model for moving specific deals.
    MoveDealsForContactsResponse:
      type: object
      properties:
        moved_deal_ids:
          type: array
          description: List of IDs of the deals that have been moved.
          items:
            type: string
      description: Response model for moving deals of contacts in bulk.
    Owner:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
      description: Represents an owner entity in the system.
    Pipeline:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
        name:
          type: string
          description: The name of the pipeline.
      description: A pipeline
    PipelineCustomField:
      required:
      - default_value
      - id
      type: object
      properties:
        id:
          type: string
          description: The identifier of the custom field.
        name:
          type: string
          description: The name of the custom field. This field is optional.
          nullable: true
        type:
          description: The type of the custom field. This field is optional and must
            be a valid PipelineCustomFieldType.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldType"
          - description: ""
        label:
          type: string
          description: The label of the custom field. This field is optional.
          nullable: true
        description:
          type: string
          description: The description of the custom field. This field is optional.
          nullable: true
        helper_text:
          type: string
          description: The helper text for the custom field. This field is optional
            and is serialized to JSON as "helper_text".
          nullable: true
        default_value:
          type: object
          description: The default value of the custom field. This field is optional
            and must be a valid Object.
          nullable: true
        validators:
          type: array
          description: The list of validators for the custom field. This field is
            optional and must be a list of valid PipelineCustomFieldPropertyValidator.
          nullable: true
          items:
            $ref: "#/components/schemas/PipelineCustomFieldPropertyValidator"
        display_options:
          description: The display options for the custom field. This field is optional
            and must be a valid DisplayOptions.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
          - description: ""
        options:
          description: The options for the custom field. This field is optional and
            must be a valid PipelineCustomFieldOptions.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldOptions"
          - description: ""
      description: Represents a custom field in the system. This class extends the
        BaseModel and includes various properties related to custom fields.
    PipelineCustomFieldArrayDisplayOptions:
      required:
      - item_options
      - sortable
      type: object
      properties:
        sortable:
          type: boolean
          description: Indicates if the array is sortable.
        item_options:
          description: Display options for the items in the array. This field is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
      description: Class representing display options for an array custom field.
    PipelineCustomFieldArrayPropertyType:
      required:
      - list_type
      type: object
      properties:
        list_type:
          description: The type of the list contained in the array property. This
            field is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldType"
      description: Class representing the type of an array property in a custom field.
    PipelineCustomFieldBooleanDisplayOptions:
      required:
      - display_type
      type: object
      properties:
        display_type:
          description: The display type for the boolean custom field. This field is
            required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldBooleanDisplayType"
      description: Class representing display options for a boolean custom field.
    PipelineCustomFieldBooleanDisplayType:
      type: string
      description: Enum representing the display types for a boolean custom field.
      enum:
      - RADIO
      - CHECKBOX
      - TOGGLE
      - TOGGLE_BUTTON
    PipelineCustomFieldCardDisplayOptions:
      type: object
      properties:
        card_properties:
          type: array
          description: The properties of the card custom field.
          nullable: true
          items:
            $ref: "#/components/schemas/PipelineCustomFieldCardProperty"
      description: Class representing display options for a card custom field.
    PipelineCustomFieldCardProperty:
      type: object
      properties:
        property_name:
          type: string
          description: The name of the property.
          nullable: true
        styles:
          type: array
          description: The display styles associated with the property.
          nullable: true
          items:
            $ref: "#/components/schemas/PipelineCustomFieldDisplayStyle"
      description: Class representing a property of a card custom field.
    PipelineCustomFieldDateTimeOptions:
      type: object
      properties:
        allow_past_dates:
          type: boolean
          description: Indicates whether past dates are allowed.
          nullable: true
        allow_future_dates:
          type: boolean
          description: Indicates whether future dates are allowed.
          nullable: true
      description: Class representing options for date and time custom fields.
    PipelineCustomFieldDisplayOptions:
      required:
      - hidden
      - type
      type: object
      properties:
        type:
          description: The type of display options. This field is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptionsType"
        hidden:
          type: boolean
          description: Indicates whether the custom field is hidden.
        array_display_options:
          description: The display options for array type custom fields. This field
            is optional.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldArrayDisplayOptions"
        reference_type_display_options:
          description: The display options for reference type custom fields. This
            field is optional.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldRefDisplayOptions"
        date_time_display_options:
          description: The display options for date and time type custom fields. This
            field is optional.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDateTimeOptions"
        boolean_display_options:
          description: The display options for boolean type custom fields. This field
            is optional.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldBooleanDisplayOptions"
        duration:
          description: The display options for duration type custom fields. This field
            is optional.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDurationDisplayOptions"
      description: Class representing display options for a custom field.
    PipelineCustomFieldDisplayOptionsType:
      type: string
      description: Enum representing the types of display options for custom fields.
      enum:
      - ARRAY
      - BOOLEAN
      - DATE_TIME
      - DEFAULT
      - DURATION
      - REF
    PipelineCustomFieldDisplayStyle:
      type: string
      description: Enum representing the display styles for custom fields.
      enum:
      - QUOTE
      - BOLD
      - ALIGN_END
      - ITALIC
      - LARGE
      - MEDIUM
      - SMALL
      - XS
      - CENTER
      - HYPHENATED
      - LABELED
    PipelineCustomFieldDurationDisplayOptions:
      type: object
      properties:
        duration_units:
          type: array
          description: The list of duration units for the custom field. This field
            is optional.
          items:
            $ref: "#/components/schemas/PipelineCustomFieldDurationOptionsDurationUnit"
      description: Class representing display options for a custom field with duration
        type.
    PipelineCustomFieldDurationOptionsDurationUnit:
      type: string
      description: Enum representing the duration units for custom fields.
      enum:
      - MINUTES
      - HOURS
      - DAYS
      - MONTHS
      - YEARS
    PipelineCustomFieldEmptyStateContent:
      required:
      - description
      - title
      type: object
      properties:
        title:
          type: array
          description: The list of titles for the empty state.
          items:
            type: string
        description:
          type: array
          description: The list of descriptions for the empty state.
          items:
            type: string
      description: Class representing the content for an empty state in custom fields.
    PipelineCustomFieldModelPropertyTypeDiscriminator:
      type: string
      description: Enum representing the types of model property type discriminators.
      enum:
      - SIMPLE
      - REF
      - ARRAY
    PipelineCustomFieldOption:
      required:
      - id
      - sort_order
      - subtitle
      - title
      type: object
      properties:
        id:
          type: string
          description: The identifier of the custom field option.
        title:
          type: string
          description: The title of the custom field option.
        subtitle:
          type: string
          description: The subtitle of the custom field option.
        sort_order:
          type: integer
          description: The sort order of the custom field option.
          format: int32
      description: Class representing an option for a custom field.
    PipelineCustomFieldOptionDisplayType:
      type: string
      description: Enum representing the display types for custom field options.
      enum:
      - DROPDOWN
      - RADIO
      - CHECKBOX
    PipelineCustomFieldOptionGroup:
      required:
      - options
      - sort_order
      type: object
      properties:
        header:
          type: string
          description: The header of the custom field option group.
          nullable: true
        options:
          type: array
          description: The list of custom field options in the group.
          items:
            $ref: "#/components/schemas/PipelineCustomFieldOption"
        sort_order:
          type: integer
          description: The sort order of the custom field option group.
          format: int32
      description: Class representing a group of custom field options.
    PipelineCustomFieldOptions:
      required:
      - display_type
      - groups
      type: object
      properties:
        default_option_id:
          type: string
          description: The default option ID for the custom field.
          nullable: true
        display_type:
          description: The display type of the custom field options. This field is
            required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldOptionDisplayType"
        option_source:
          description: The source of the custom field options. This field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldRefType"
        groups:
          type: array
          description: The list of custom field option groups.
          items:
            $ref: "#/components/schemas/PipelineCustomFieldOptionGroup"
      description: Class representing the options for a custom field.
    PipelineCustomFieldPrimitiveType:
      type: string
      description: Enum representing various primitive types for custom fields.
      enum:
      - ARRAY
      - BOOLEAN
      - CURRENCY
      - DATE
      - FLEXI_DATE
      - DATETIME
      - DAY_OF_WEEK
      - DECIMAL
      - DURATION
      - EMAIL
      - INTEGER
      - LONG_TEXT
      - MONTH
      - NAME
      - NUMBER
      - OBJECT
      - PERCENT
      - PHONE
      - REF
      - SEMVER
      - TEXT
      - TIME
      - URL
      - YEAR
    PipelineCustomFieldPropertyValidator:
      required:
      - required
      - size
      type: object
      properties:
        size:
          description: The size validator for the custom field. This field is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldSizeValidator"
        required:
          type: boolean
          description: Indicates whether the custom field is required.
      description: Class representing a validator for custom field properties.
    PipelineCustomFieldRefDisplayOptions:
      type: object
      properties:
        hidden:
          type: boolean
          description: Indicates whether the reference custom field is hidden.
          nullable: true
        card_options:
          description: The card display options for the reference custom field. This
            field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldCardDisplayOptions"
        title_property:
          type: string
          description: The title property for the reference custom field.
          nullable: true
        description_property:
          type: string
          description: The description property for the reference custom field.
          nullable: true
        reference_display_type:
          description: The display type for the reference custom field. This field
            is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldRefDisplayType"
        empty_state:
          description: The empty state content for the reference custom field. This
            field is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldEmptyStateContent"
        component_name:
          type: string
          description: The component name for the reference custom field.
          nullable: true
      description: Class representing the display options for a reference custom field.
    PipelineCustomFieldRefDisplayType:
      type: string
      description: Enum representing the display types for a reference custom field.
      enum:
      - CARD
      - DROPDOWN
    PipelineCustomFieldRefPropertyType:
      required:
      - reference_type
      type: object
      properties:
        reference_type:
          description: The reference type for the custom field. This field is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldRefType"
        fields:
          type: array
          description: The list of fields for the reference custom field.
          nullable: true
          items:
            type: string
      description: Class representing the property type for a reference custom field.
    PipelineCustomFieldRefType:
      type: object
      properties:
        category:
          type: string
          description: The category of the custom field reference type.
          nullable: true
        name:
          type: string
          description: The name of the custom field reference type.
          nullable: true
      description: Class representing a reference type for custom fields.
    PipelineCustomFieldSizeValidationType:
      type: string
      description: Enum representing the types of size validation for custom fields.
      enum:
      - MIN
      - MAX
    PipelineCustomFieldSizeValidator:
      required:
      - size
      - size_type
      type: object
      properties:
        size_type:
          description: The type of size validation for the custom field. This field
            is required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldSizeValidationType"
        size:
          type: integer
          description: The size value for the custom field.
          format: int32
      description: Class representing a size validator for custom fields.
    PipelineCustomFieldType:
      required:
      - discriminator
      - primitive_type
      type: object
      properties:
        primitive_type:
          description: The base primitive type of the custom field. This field is
            required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldPrimitiveType"
        discriminator:
          description: The discriminator for the model property type. This field is
            required.
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldModelPropertyTypeDiscriminator"
        array:
          description: The array property type of the custom field. This field is
            optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldArrayPropertyType"
        ref:
          description: The reference property type of the custom field. This field
            is optional.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldRefPropertyType"
      description: Class representing a custom field type.
    PipelineCustomFields:
      required:
      - custom_fields
      type: object
      description: Represents a list of custom fields in the system.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_PipelineCustomField_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          custom_fields:
            type: array
            description: The list of custom fields.
            items:
              $ref: "#/components/schemas/PipelineCustomField"
    PipelineDealWithStageName:
      required:
      - name
      type: object
      properties:
        id:
          type: string
        name:
          maxLength: 255
          minLength: 1
          type: string
        value:
          $ref: "#/components/schemas/Money"
        stage_id:
          type: string
        stage_name:
          type: string
        stage_assignment_time:
          type: string
          format: date-time
        close_time:
          type: string
          format: date-time
          nullable: true
        estimated_close_time:
          type: string
          format: date-time
          nullable: true
        contact_ids:
          type: array
          items:
            type: string
        owner_ids:
          type: array
          items:
            type: string
        task_ids:
          type: array
          items:
            type: string
        status:
          $ref: "#/components/schemas/DealStatus"
        order:
          type: string
          nullable: true
      description: "A deal, including its stage name."
    PipelineDealsListResponse:
      type: object
      description: Request for a list of a given deal's pipelines.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_PipelineDealWithStageName_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          deals:
            type: array
            description: The list of deals.
            items:
              $ref: "#/components/schemas/PipelineDealWithStageName"
    PipelineListResponse:
      type: object
      description: Response for a list of pipelines.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_Pipeline_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          pipelines:
            type: array
            description: The list of pipelines.
            items:
              $ref: "#/components/schemas/Pipeline"
    PipelineOutcomeLabel:
      required:
      - value
      type: object
      properties:
        value:
          description: The status of the deal. This field is required.
          allOf:
          - $ref: "#/components/schemas/DealStatus"
        label:
          minLength: 1
          type: string
          description: The label for the outcome. This field is optional but must
            have at least one character if provided.
          nullable: true
      description: Represents a label for a pipeline outcome.
    PipelineOutcomeLabelListResponse:
      type: object
      properties:
        next_page_token:
          type: string
          description: Token for the next page of results.
        outcome_labels:
          type: array
          description: The list of outcome labels.
          items:
            $ref: "#/components/schemas/PipelineOutcomeLabel"
      description: Represents a response containing a list of pipeline outcome labels.
    PipelineStageListResponse:
      type: object
      description: Response for a list of stages.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_Stage_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          stages:
            type: array
            description: The list of stages.
            items:
              $ref: "#/components/schemas/Stage"
    PipelineSummariesListResponse:
      type: object
      description: Response for a list of pipeline summaries.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_PipelineSummary_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          pipeline_summaries:
            type: array
            description: The list of pipeline summaries.
            items:
              $ref: "#/components/schemas/PipelineSummary"
    PipelineSummary:
      required:
      - pipeline_name
      type: object
      properties:
        pipeline_id:
          pattern: ^\d+$
          type: string
          description: The ID of the pipeline. Can be null and must be a string of
            digits if present.
          nullable: true
        pipeline_name:
          maxLength: 255
          minLength: 1
          type: string
          description: The name of the pipeline. Must be a non-null string with a
            length between 1 and 255 characters.
        stat_total_deal_count:
          type: integer
          description: The total count of deals in the pipeline. Can be null.
          format: int32
          nullable: true
        stat_new_deal_count:
          type: integer
          description: The count of new deals in the pipeline. Can be null.
          format: int32
          nullable: true
      description: Represents a summary of a pipeline.
    Stage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the model.
        name:
          type: string
          description: The name of the stage.
        pipeline_id:
          type: string
          description: The ID of the pipeline.
      description: Represents a stage in a pipeline.
    StageDealListResponse:
      type: object
      description: Response for a list of deals in a stage.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_Deal_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          deals:
            type: array
            description: The list of deals in a stage.
            items:
              $ref: "#/components/schemas/Deal"
    StageListResponse:
      type: object
      description: Response for a list of stages.
      allOf:
      - $ref: "#/components/schemas/BaseListResponse_Stage_"
      - properties:
          next_page_token:
            type: string
            description: Token for the next page of results.
          stages:
            type: array
            description: The list of stages.
            items:
              $ref: "#/components/schemas/Stage"
    UpdateCustomFieldRequest:
      type: object
      properties:
        label:
          type: string
          description: The label of the custom field.
          nullable: true
        description:
          type: string
          description: The description of the custom field.
          nullable: true
        hint:
          type: string
          description: The hint for the custom field.
          nullable: true
        helper_text:
          type: string
          description: The helper text for the custom field.
          nullable: true
        default_value:
          type: object
          description: The default value of the custom field.
          nullable: true
        display_options:
          description: The display options for the custom field.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
          - description: ""
        options:
          description: The options for the custom field.
          nullable: true
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldOptions"
          - description: ""
        validators:
          type: array
          description: The validators for the custom field.
          nullable: true
          items:
            $ref: "#/components/schemas/PipelineCustomFieldPropertyValidator"
        deleted:
          type: boolean
          description: Indicates whether the custom field is deleted.
          nullable: true
          deprecated: true
      description: Represents a request to update a custom field.
    UpdateDealNoteRequest:
      required:
      - body
      type: object
      properties:
        body:
          maxLength: 5000
          minLength: 1
          type: string
          description: The body of the note. Must not be blank and must be between
            1 and 5000 characters.
      description: Request model for updating a deal note.
    UpdateDealRequest:
      required:
      - stage_id
      - status
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
        amount:
          minimum: 0
          type: number
          format: double
        currency_code:
          minLength: 3
          type: string
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/DealContact"
        stage_id:
          maxLength: 255
          minLength: 1
          type: string
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
        owner_id:
          type: string
        task_ids:
          type: array
          items:
            type: string
        previous_deal_id:
          maxLength: 255
          minLength: 1
          type: string
        next_deal_id:
          maxLength: 255
          minLength: 1
          type: string
        status:
          type: string
        estimated_close_date:
          type: string
          format: date-time
        closed_date:
          type: string
          format: date-time
        custom_fields:
          type: object
          additionalProperties: true
      description: Request model for updating a deal.
    UpdateDealsInBulkRequest:
      required:
      - bulk_deal_update_type
      - exclude_deal_ids_specified
      - filters
      - new_value
      type: object
      properties:
        bulk_deal_update_type:
          type: string
          description: ""
        new_value:
          type: string
          description: ""
        deal_ids:
          maxItems: 5000
          minItems: 0
          type: array
          items:
            type: string
        exclude_deal_ids_specified:
          type: boolean
          description: ""
        filters:
          type: array
          items:
            $ref: "#/components/schemas/FilterEntry"
      description: Request for updating the deals of a pipeline.
    UpdateDealsInBulkResponse:
      required:
      - stage_move_success
      type: object
      properties:
        stage_move_success:
          type: boolean
          description: Indicates whether the stage move was successful.
        error_message:
          type: string
          description: Error message if the stage move was not successful.
      description: Response for a bulk update for the reals in a pipeline.
    UpdateDisplayFormRequest:
      required:
      - groups
      type: object
      properties:
        groups:
          type: array
          description: Groups of properties to display on the form.
          items:
            $ref: "#/components/schemas/UpdateDisplayGroupRequest"
    UpdateDisplayGroupRequest:
      required:
      - properties
      - title
      type: object
      properties:
        sort_order:
          type: integer
          description: Determines the order for where this display group shows up
            on the form.
          format: int32
        title:
          type: string
          description: The title of the display group.
        description:
          type: string
          description: The description of the display group.
        properties:
          type: array
          description: A list of properties that will be displayed in this group.
          items:
            $ref: "#/components/schemas/UpdateDisplayPropertyRequest"
    UpdateDisplayPropertyRequest:
      required:
      - source
      type: object
      properties:
        sort_order:
          type: integer
          description: Determines the order for where this display property shows
            up on the group.
          format: int32
        id:
          type: string
          description: Identifies the custom field that is tied to this display property.
        source:
          description: Indicates whether this display property is a system or custom
            field.
          allOf:
          - $ref: "#/components/schemas/DisplayPropertySource"
        system_field_record:
          type: string
          description: "Represents the domain (e.g., pipeline, contact) that this\
            \ display property belongs to."
        system_field_id:
          type: string
          description: "Represents the identifier of the system field that is in that\
            \ displayProperty. The source of this field will depend on the domain\
            \ (e. g., \"dealName\" in pipelines)"
        label:
          type: string
          description: The label to display on this property to help users identify
            it
        description:
          type: string
          description: Documentation that explains the purpose of this property
        helper_text:
          type: string
          description: More detailed explanation of the property to be shown if a
            user requests more information about it
        default_value:
          description: The value of this property if a value is not explicitly provided
        display_options:
          description: Allowed values for this property
          allOf:
          - $ref: "#/components/schemas/PipelineCustomFieldDisplayOptions"
    UpdateOutcomeLabelsRequest:
      required:
      - outcome_labels
      type: object
      properties:
        outcome_labels:
          type: array
          description: List of outcome labels to be updated.
          items:
            $ref: "#/components/schemas/PipelineOutcomeLabel"
      description: Represents a request to update outcome labels for a pipeline.
    UpdatePipelineRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: The name of the pipeline.
      description: Request for updating a pipeline.
    UpdateStageRequest:
      required:
      - name
      - next_stage_id
      - pipeline_id
      - previous_stage_id
      type: object
      properties:
        name:
[...]
